{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<div class="main-content">
    <!-- Page Header -->
  <div class="login-container">

          <div class="page-heading">
            <h1>Plan Your Day</h1>
            <span class="subheading">You're going to bring order to your universe!</span>
          </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='gameplan') }}
          
              <form action="" method="post" class="form " role="form" novalidate="">

  <input id="csrf_token" name="csrf_token" type="hidden" value="ImZlNDUwMWZkNTEyNzAxOTdhMmZjNzVkYzM2NGQ3NTM2N2ZjYmM4NTki.YqCpow.ynLt9bldmfiOE-ZIAPzJFmATGBU">
<div class="form-group  required ">
          <input style="width:100%;" class="form-control " id="topic" name="topic" placeholder="Enter your Project Topic" required="" type="text" value="">
  </div>
<div class="form-group  required new-input">
          <input style="width:100%;" class="form-control " id="item1" name="item1" placeholder="Priority Item" required="" type="text" value="">
  </div>
<div class="form-group new-input ">
          <input style="width:100%;" class="form-control " id="item2" name="item2" placeholder="Priority Item" type="text" value="">
  </div>
<div class="form-group">
          <input style="width:100%;" class="form-control " id="item3" name="item3" placeholder="Priority Item" type="text" value="">
  </div>
    <input style="padding-left:-20%; margin-left: 60px;" class="btn btn-dark " id="submit" name="submit" type="submit" value="Create TaskSet">
</form>

<!--         {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }} -->
      </div>
    </div>
  </div>
    </div>
  </div>
{% include "footer.html" %}
{% endblock %}
