{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<div class="main-content">
    <!-- Page Header -->
  <div class="login-container">

          <div class="page-heading">
            <h1>Plan Your Day</h1>
            <span class="subheading">You're going to bring order to your universe!</span>
          </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='gameplan') }}
          
<!-- task forms here -->

          <form action="{{ url_for('set_task') }}" method="POST" novalidate >
				{{form.csrf_token}}
				<p>{{ form.topic.label}} <br>{{form.topic(size=52)}}
				{% for err in form.topic.errors %}
					<span style="color:red"> {{err}}</span>
					{% endfor %}
				</p>
				<p>{{ form.item1.label}} <br>{{form.item1(size=52)}}
				{% for err in form.item1.errors %}
					<span style="color:red"> {{err}}</span>
					{% endfor %}
				</p>
                <p>{{ form.item2.label}} <br>{{form.item2(size=52)}}
				{% for err in form.item2.errors %}
					<span style="color:red"> {{err}}</span>
					{% endfor %}
				</p>
                <p>{{ form.item3.label}} <br>{{form.item3(size=52)}}
				{% for err in form.item3.errors %}
					<span style="color:red"> {{err}}</span>
					{% endfor %}
				</p>
				{{ form.submit}}
			</form>
          
<!--      end      -->
          
<!--         {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }} -->
      </div>
    </div>
  </div>
    </div>
  </div>
{% include "footer.html" %}
{% endblock %}
