{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="main-content">
  <!-- Page Header -->
  <div class="login-container ">


    <div class="page-heading">
      <h1>Log In</h1>
      <span class="subheading"><h6><em><strong>Welcome Back!</strong></em></h6></span>
    </div>


    <div class="container">
      <div class="row">

        <div class="col-lg-10 col-md-10 mx-auto content">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="my-message">
          {% for message in messages %}
          <p class="error-message">{{ message }}</p>
          {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
          
          <!--   new form         -->
          <form action="{{ url_for('login') }}" method="POST" novalidate >
				{{form.csrf_token}}
            <p>{{ form.email.label}} {{form.email(size=52)}}
				{% for err in form.email.errors %}
					<span style="color:red"> {{err}}</span>
					{% endfor %}
				</p>
			                <p>{{ form.password.label}} {{form.password(size=52)}}
				{% for err in form.password.errors %}
					<span style="color:red"> {{err}}</span>
					{% endfor %}
				</p>
          
				{{ form.submit}}
			</form>
          
<!--     end form       -->

<!--           {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "dark"}) }} -->
        </div>
      </div>
    </div>

  </div>


</div>


{% include "footer.html" %}
{% endblock %}
